@using Vrh.Web.Common.Lib;
@using Vrh.Web.Membership.Areas.UserAdministration.Controllers

@model PasswordRenewalModel
@{
    string actionName = nameof(UserController.PassswordRenewal);
    object routeValues = new
    {
        area = Constants.AREA
    };
    var ajaxOptions = new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = MasterData.DialogBodyId(Model.BootboxId)
    };
    object htmlAttributes = new { id = Constants.Ids.Form.PASSWORDRENEVAL };
}
<div class="row">
    <div class="col">
        <label>
            @Model.Trans(typeof(WordCodes.MvcMembership.Labels.LastPasswordChanged))
        </label>
        @Model.LastPasswordChangedDate
    </div>
</div>
@using (Ajax.BeginForm(actionName, Constants.CONTROLLER_USER, routeValues, ajaxOptions, htmlAttributes))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.BootboxId)
    @Html.HiddenFor(x => x.UserName)

<div class="row">
    <div class="col-1 form-group checkbox text-center ml-1">
    </div>
    <div class="col-4 form-group checkbox text-center">
        <label class="form-check-label" for="@(nameof(PasswordRenewalModel.IsGenerated))">
            @(Model.Trans(typeof(WordCodes.MvcMembership.Labels.AutomaticPassword)))
        </label>
        @Html.CheckBoxFor(x => x.IsGenerated, new { @class = "form-check-input", @onclick = "vrhusman.PasswordGenerateChange();" })
    </div>

    <div class="col-6 form-group">
        @Html.LabelFor(x => x.NewPassword)
        @Html.TextBoxFor(x => x.NewPassword, new { @readonly = "" })
    </div>

</div>
}
<script type="text/javascript">
@if (!ViewData.ModelState.IsValid && !string.IsNullOrEmpty(Html.ValidationSummaryMessage(true)))
{
    <text>
    bootbox.alert({
        size: 'large',
            message: '@Html.Raw(Html.ValidationSummaryMessage(true).Trim().Replace(System.Environment.NewLine, WebCommon.HTML_NEWLINE).Replace("\n", WebCommon.HTML_NEWLINE).Replace("\r", WebCommon.HTML_NEWLINE))'
                });
    </text>
}
    /*##### EVENTS #####*/
    $(function () {
        'use strict';

        //var thisfn = 'UserController.Editor.cshtml: ready event: ';
        //console.log(thisfn + 'PING'); Constants.Ids.Form.USEREDITOR

        vrhct.masterdata.addClass('#@(Constants.Ids.Form.PASSWORDRENEVAL)','input[type=text],input[type=checkbox]');

        //console.log(thisfn + 'END');
    }); // $(document).ready END
        /*##### EVENTS END #####*/
</script>
