@using VRH.Log4Pro.MultiLanguageManager;

@model Vrh.Web.Membership.Areas.UserAdministration.Models.LocalPasswordModel

@{
    IHtmlString titleChangePassword = Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.MvcMembership.User.ChangePassword)));
}
<style>
</style>
<div class="card">
    <div class="card-header">
        <h1 class="card-title">@titleChangePassword</h1>
    </div>
    <div class="card-body">
        <div style="max-width:50%;min-width:12rem;">
            @using (Html.BeginForm(Constants.Actions.MANAGE, Constants.CONTROLLER_ACCOUNT, new { area = Constants.AREA }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="from-group row mb-3">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>

                <div class="from-group row mb-3">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>

                <div class="from-group row mb-3">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>

                <div class="from-group row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success float-right">@titleChangePassword</button>
                    </div>
                </div>
            }
        </div>
    </div> <!-- class="card-body" -->
</div> <!-- class="card card-primary" -->
