@*
    -----------------------------------------
    SecondaryUser - SecondaryFunction.cshtml
    -----------------------------------------
*@

@using VRH.Log4Pro.MultiLanguageManager
@using Vrh.Web.Common.Lib
@using Vrh.Web.Membership.Areas.UserAdministration.Controllers

@model SecondaryUserModel
@{
    string areaName = (string)ViewContext.RouteData.DataTokens["area"];
    string controllerName = (string)ViewContext.RouteData.DataTokens["controller"];
    object routeVal = new { area = areaName, editMode = Model.EditMode };

    string dataNewInputId = "newdatainputid";
    string dataRowsPlaceId = "datarowsplaceid";
}

<style>
</style>
@*
    -----------------------------------------
    SecondaryUser - SecondaryFunction.cshtml
    -----------------------------------------
*@
<h2>@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Labels.Button.FunctionManage)))</h2>
<div class="table-responsive" style="max-height:500px;overflow-y:auto;">
    <table class="table table-sm table-dark table-hover">
        <thead>
            <tr>
                <th style="text-align:right;width:30px;">#</th>
                <th>@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Labels.Function)))</th>
            </tr>
        </thead>
        <tbody id="@(dataRowsPlaceId)"></tbody>
    </table>
</div>
<table class="table" style="margin-bottom:0px;">
    <tr>
        <td>
            @if (Model.EditMode != EditModes.Select)
            {
                <div class="input-group" style="width:300px;">
                    <input id="@(dataNewInputId)" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success ml-1" onclick="handler.addData();">
                            @(Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Words.Add))))
                        </button>
                    </span>
                </div>
            }
        </td>
        <td style="text-align:right;">
            <button type="button" class="btn btn-secondary" style="" onclick="vrhct.bootbox.hide('@(Model.BootboxId)');">
                @(Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Words.Cancel))))
            </button>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var handler;
    $(document).ready(function () {
        'use strict';
        var thisfn = 'SecondaryFunction.cshtml: document.ready: ';
        console.log(thisfn + 'PING');

        handler = new VrhIdNameHandler({
            Confirm: {
                Delete: '@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Messages.Confirmations.SecondaryFunctionDelete)))'
            },
            EditMode: {
                Current: '@Model.EditMode',
                Select: '@EditModes.Select',
                Add: '@EditModes.Add',
                Delete: '@EditModes.Delete',
                Manage: '@EditModes.Manage',
            },
            Id: {
                Editor: '@(Model.BootboxId)',
                DataRows: '@(dataRowsPlaceId)',
                DataNew: '@(dataNewInputId)',
            },
            Label: {
                Button: {
                    No: '@Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Words.No)))',
                    Yes: '@Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Words.Yes)))',
                },
                Data: '@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Labels.Function)))',
            },
            LCID: '@(Model.LCID)',
            Message: {
                Delete: '@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Messages.Warnings.SecondaryFunctionDelete)))',
                Wait: '@Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Messages.PleaseWait)))',
            },
            Title: {
                Confirm: '@Html.Raw(Model.Trans(typeof(GeneralWordCodes.MLM.General.Titles.Confirmation)))',
                IconPencil: '@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Titles.SecondaryFunctionEdit)))',
                IconTrash: '@Html.Raw(Model.Trans(typeof(WordCodes.MvcMembership.Titles.SecondaryFunctionDelete)))',
            },
            Url: {
                Add: '@Html.Raw(Url.Action(nameof(SecondaryUserController.SecondaryFunctionAdd), controllerName, routeVal))',
                Delete: '@Html.Raw(Url.Action(nameof(SecondaryUserController.SecondaryFunctionDelete), controllerName, routeVal))',
                List: '@Html.Raw(Url.Action(nameof(SecondaryUserController.SecondaryFunctionList), controllerName, routeVal))',
                Update: '@Html.Raw(Url.Action(nameof(SecondaryUserController.SecondaryFunctionUpdate), controllerName, routeVal))'
            }
        });
        console.log(thisfn + 'handler=', handler);
    });// $(document).ready event VÉGE
</script>

@*
    -----------------------------------------
    SecondaryUser - SecondaryFunction.cshtml
    -----------------------------------------
*@
